<!DOCTYPE html>
<html>
<head>
    <title>Meus Chamados</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Olá, {{ user.username }} | 
       <a href="{% url 'lista_chamados' %}">Meus Chamados</a> |
       <a href="{% url 'abrir_chamado' %}">Abrir Chamado</a> |
       <a href="{% url 'logout' %}">Sair</a>
    </p>
    {% endif %}
    <hr>
    <h1>Chamados</h1>

    <h2>Abertos</h2>
    <ul>
        {% for chamado in chamados_abertos %}
            <li>
                <a href="{% url 'detalhar_chamado' chamado.id %}">{{ chamado.titulo }}</a>
                - {{ chamado.status }}
            </li>
        {% empty %}
            <li>Nenhum chamado aberto.</li>
        {% endfor %}
    </ul>

    <h2>Em andamento</h2>
    <ul>
        {% for chamado in chamados_andamento %}
            <li>
                <a href="{% url 'detalhar_chamado' chamado.id %}">{{ chamado.titulo }}</a>
                - Atendido por: {{ chamado.atendido_por.username }}
            </li>
        {% empty %}
            <li>Nenhum chamado em andamento.</li>
        {% endfor %}
    </ul>

    <h2>Finalizados</h2>
    <ul>
        {% for chamado in chamados_fechados %}
            <li>
                <a href="{% url 'detalhar_chamado' chamado.id %}">{{ chamado.titulo }}</a>
                - Encerrado por: {{ chamado.atendido_por.username }}
            </li>
        {% empty %}
            <li>Nenhum chamado finalizado.</li>
        {% endfor %}
    </ul>
</body>
</html>
